# api id and api hash (my.telegram.org)
# required
API_ID='23467646'
API_HASH='b9a5a0a968c4fddaad8db274b35d67f5'

# pyrogram session string (@genstr_robot)
# required
SESSION='AQBz9Dl9qeR4-gNZlzvrFJ48PYZXbjdMGpt_Cw_GSjO7Oh-98cj2SxILrvpjnUCL2WMwO9sSbmCF7iR6aL8ISWcbuimfKtRna3IdiYZUauwrBpzTHGPTG2RSzz2nxTL2v7zWN8tktiB5Xmoa1U9Vh7-vO9T8iuEwDLGvy5sf3NpnW0c23q4_BPyxOSu5WI4l7LN6dUfKXe9o5x-CJ-okD-RWE3ETldHpt96sTAu6JGo-Cshr9Fmor7cR5K7IIDA-y5J_lDVodtbt9P-110W9QjWt0VjuIKZ3zpTcXb4n8LVJoERr3ssuyB80aPt7x9rT_QZ8Rx41YjrFA8PRHAtriDp-AAAAAWAVMpsA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='5846340024:AAGcItiFy0LmHztJnDC22YBer6TgzIonLR0'

# sudo user ids (separate with space)
# optional
SUDOERS=''

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
